

<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">

  <ul class="nav flex-column pl-1">
      <li class="nav-item"><a class="nav-link items-destaque-menu" routerLink="/">Documentação</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="#">Turma</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="#">Matrícula</a></li>
      <li class="nav-item">
          <a class="nav-link sub-items" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Atitudinal▾</a>
          <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
          <li class="nav-item"><a class="nav-link" routerLink="#">Atitudinal1</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="#">Atitudinal2</a></li>
          </ul>
      </li>
      <li class="nav-item">
          <a class="nav-link sub-items" href="#submenu2" data-toggle="collapse" data-target="#submenu2">Psicomotora▾</a>
          <ul class="list-unstyled flex-column pl-3 collapse" id="submenu2" aria-expanded="false">
          <li class="nav-item"><a class="nav-link" routerLink="#">Psicomotora1</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="#">Psicomotora2</a></li>
          </ul>
      </li>
      <li class="nav-item">
          <a class="nav-link sub-items items-destaque-menu" href="#submenu3" data-toggle="collapse" data-target="#submenu3">Cadastros▾</a>
          <ul class="list-unstyled flex-column pl-3 collapse" id="submenu3" aria-expanded="false">
            <li class="nav-item">
              <a class="nav-link" routerLink="cadastros/curso/listar">Curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cadastros/tipo-curso/listar">Tipo</a>
            </li>
          </ul>
      </li>
  </ul>
</div>
